html {
    font-family: monospace;
    font-size: 16px;
}

input, button, textarea, .display {
    font-family: inherit;
    font-size: inherit;
    border: solid 1px gray;
    border-radius: 4px;
    background-color: white;
}

.display {
    width: 218px;
    display: inline-block;
    height: 40px;
    text-align: right;
    font-size: 24px;
    vertical-align: middle;
    line-height: 40px;
    padding: 5px;
    overflow: hidden;
}

button {
    transition-duration: 200ms;
    transition-property: background-color;
}

button:hover {
    background-color: #FE8;
}

button.active {
    background-color: #F8FCFF;
}

.row {
    text-align: center;
    height: 58px;
}

.button-container button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: inline-block;
}
